body{
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}

table.registros{
		border:0;
		width:750px;
		margin-left:150px;
		margin-right:150px;
	}
table.registros td{
		border:0;
		 font: 150% sans-serif;
	}	
table.registros tr.titulos{
		background:#ffffff;
		text-align:center;
		text-transform:uppercase;
		font-color: green
		 font: 150% sans-serif;
	}
table.registros tr.row0{
		background: #ffffff;
		 font: 90% sans-serif; 
		white-space: normal
		 word-spacing: 10px; ; 
	}
table.registros tr.row1{
		background: #ffffff ;
		 font: 90% sans-serif; 

	}




